
/* LANGUAGE SYSTEM */

[lang="tr"] {
  display: none;
}

html[data-lang="tr"] [lang="tr"] {
  display: inline;
}

html[data-lang="tr"] [lang="en"] {
  display: none;
}

html[data-lang="en"] [lang="en"] {
  display: inline;
}

html[data-lang="en"] [lang="tr"] {
  display: none;
}
