
body{
margin:0;
background:#050505;
color:#f5f1e8;
font-family:Georgia,serif;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:24px 40px;
border-bottom:1px solid rgba(255,255,255,0.08);
position:sticky;
top:0;
background:rgba(0,0,0,0.85);
backdrop-filter:blur(8px);
z-index:999;
}

nav a{
margin:0 18px;
text-decoration:none;
color:#ddd;
}

.active{
color:#d5a55b;
}

.lang{
color:#d5a55b;
}

.hero{
display:grid;
grid-template-columns:1fr 1fr;
padding:80px 60px;
position:relative;
min-height:80vh;
align-items:center;
}

.hero-left h1{
font-size:82px;
line-height:1;
margin:20px 0;
}

.hero-text{
font-size:28px;
max-width:500px;
line-height:1.5;
}

.hero-sub{
font-size:24px;
margin:40px 0;
line-height:1.6;
}

.mini-title{
letter-spacing:4px;
color:#d5a55b;
font-size:14px;
}

.hero-right img{
width:100%;
border-radius:10px;
opacity:0.92;
}

.btn{
display:inline-block;
padding:16px 26px;
border:1px solid #d5a55b;
color:#f5f1e8;
text-decoration:none;
margin-top:20px;
}

.small{
padding:12px 18px;
}

.side-nav{
position:absolute;
right:40px;
top:120px;
display:flex;
flex-direction:column;
gap:28px;
color:#ddd;
}

.side-nav span{
color:#999;
}

.papers{
padding:60px;
}

.papers h2,.framework h2{
color:#d5a55b;
letter-spacing:3px;
font-size:18px;
margin-bottom:40px;
}

.paper-card{
display:grid;
grid-template-columns:1fr 1fr;
background:#0a0a0a;
border:1px solid rgba(213,165,91,0.25);
margin-bottom:30px;
overflow:hidden;
}

.reverse{
direction:rtl;
}

.reverse .paper-content{
direction:ltr;
}

.paper-card img{
width:100%;
height:100%;
object-fit:cover;
}

.paper-content{
padding:40px;
}

.number{
color:#d5a55b;
font-size:28px;
margin-bottom:10px;
}

.paper-content h3{
font-size:52px;
margin:10px 0 20px;
}

.paper-content p{
font-size:20px;
line-height:1.8;
color:#d7d7d7;
}

.keywords{
margin-top:30px;
font-size:15px;
line-height:1.8;
color:#c7b48d;
}

.meta{
margin-top:30px;
display:flex;
gap:24px;
align-items:center;
flex-wrap:wrap;
}

.framework{
padding:60px;
}

.framework-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:16px;
}

.fcard{
border:1px solid rgba(213,165,91,0.25);
padding:24px;
background:#090909;
}

.fcard h4{
color:#f5f1e8;
line-height:1.8;
}

.fcard p{
color:#bbb;
line-height:1.7;
}

.quote{
padding:100px 20px;
text-align:center;
font-size:54px;
line-height:1.5;
border-top:1px solid rgba(255,255,255,0.05);
border-bottom:1px solid rgba(255,255,255,0.05);
margin-top:60px;
}

.author{
font-size:18px;
letter-spacing:4px;
margin-top:30px;
color:#d5a55b;
}

footer{
display:grid;
grid-template-columns:repeat(4,1fr);
padding:40px;
text-align:center;
color:#d5a55b;
gap:20px;
}

@media(max-width:1000px){

.hero{
grid-template-columns:1fr;
}

.paper-card{
grid-template-columns:1fr;
}

.framework-grid{
grid-template-columns:1fr;
}

.quote{
font-size:34px;
}

.hero-left h1{
font-size:58px;
}

.side-nav{
display:none;
}

footer{
grid-template-columns:1fr 1fr;
}

}
